html, body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Anderson Grotesk';
  src: local('Anderson Grotesk'), 
    url('./fonts/anderson-grotesk.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anderson Grotesk';
  src: local('Anderson Grotesk'),
    url('./fonts/anderson-grotesk-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#nprogress .bar {
  background-color: #6E56CF;
  height: 4px;

  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;

  width: 100%;
}

#nprogress .peg {
  display: none;
}
