@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: local('Atkinson Hyperlegible'),
    local('Atkinson-Hyperlegible'),
    local('Atkinson-Hyperlegible-Regular'),
    url('./fonts/atkinson-hyperlegible.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PretendardStd';
  src: local('Atkinson Hyperlegible'),
    local('Atkinson-Hyperlegible'),
    local('Atkinson-Hyperlegible-bold'),
    url('./fonts/atkinson-hyperlegible-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;   
  font-display: swap;
}

#nprogress .bar {
  background-color: #5373E7;
  height: 4px;

  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;

  width: 100%;
}

#nprogress .peg {
  display: none;
}
